@font-face {
  font-family: 'iconfont';  /* project id 573160 */
  src: url('https://at.alicdn.com/t/font_573160_u8mmcajnok1emi.eot');
  src: url('https://at.alicdn.com/t/font_573160_u8mmcajnok1emi.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_573160_u8mmcajnok1emi.woff') format('woff'),
  url('https://at.alicdn.com/t/font_573160_u8mmcajnok1emi.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_573160_u8mmcajnok1emi.svg#iconfont') format('svg');
}
.e2_one{
	height: 3.4rem;
	width: 100%;
	background-color: #fff;
	float: left;
}
.e2_tiao1{
	background-color: #f6f6f6;
	padding-left: 0.19rem;
	text-align: left;
	position: absolute;
	top: 0;
	left: 0;
	margin: -0.07rem 0.23rem 0;
	width: 7.03rem;
}
.i_bottom{
	height: 0.96rem;
	margin-top: 0.23rem;
	width: 100%;
	float: left;
	position: relative;
}
.e2_icon2{
	color: #a4a4a4;
	position: absolute;
	top: 0.2rem;
	right: 0.38rem;
	z-index: 2;
	font-size: 0.3rem;
}
.e2_mid{
	width: 100%;
	margin-top: 0.50rem;
	background-color: #fff;
	float: left;
	padding: 0 0.33rem;
}
.e2_mid_icon{
	float: left;
	margin-right: 0.66rem;
	width: 0.83rem;
	height: 0.83rem;
    border-radius: 50%;
    margin-bottom: 0.14rem;
    text-align: center;
    line-height: 0.83rem;
    padding-top: 0.12rem;
	background:-webkit-linear-gradient(#bc4cff,#703eff);
}
.e2_mid .e2_mid_icon1{
	background: -webkit-linear-gradient(#23d4d2,#17d2ba);
}
.e2_mid .e2_mid_icon2{
	background: -webkit-linear-gradient(#ff5a45,#ff3161);
}
.e2_mid .e2_mid_icon3{
	background: -webkit-linear-gradient(#ff9c3e,#fa712b);
}
.e2_mid .e2_mid_icon4{
	background: -webkit-linear-gradient(#50c2f3,#3190e2);
	margin-right: 0;
}
.e2_mid_wenzi{
	width: 100%;
	height: 0.3rem;

	float: left;
}
.e2_mid_wenzi1{
	width: 20%;
	height: 100%;
	background-color: #fff;
	text-align: center;
	line-height: 0.3rem;
	font-size: 0.24rem;
	color: #333;
	float: left;
}
.choice{
	width: 100%;
	height: 0.85rem;
	border-top: 0.02rem solid #e5e5e5;
	border-bottom: 0.02rem solid #e5e5e5;
	float: left;
	padding: 0.22rem 0 0.21rem 0;
	background-color: #fff;
}
.choice1{
	width: 2.5rem;
	height: 0.42rem;
	float: left;
	background-color: #fff;
	border-right: 0.02rem solid #e5e5e5;
	text-align: center;
	line-height: 0.53rem;
	font-size: 0.28rem;
}
.e2_icon3{
	position: relative;
	color: #999;
	font-size: 0.3rem;
}
.add{
	width: 100%;
	height: 0.77rem;
	background-color: #ececec;
	float: left;
	padding: 0 0.24rem;
	line-height: 0.77rem;
}
.add_sp1{
	float: left;
	font-size: 0.26rem;
	color: #9999;
	line-height: 0.77rem;
}
.add_sp2{
	float: right;
}
.e2_xian{
	background-color: #efefef;
	height: 0.17rem;
	float: left;
	width: 100%;
}
.bottoms12{
	width: 1.78rem;
	height: 100%;
	padding-top: 0.14rem;
	text-align: center;
}
.bottoms13{
	width: 5.72rem;
	height: 100%;
	background-color: #dd0000;
	text-align: center;
	color: #fff;
	line-height: 1.05rem;
}
.e2_icons4{
	color: #df1212;
}
.mingx{
	width: 1.4rem;
	height: 1.4rem;
	position: fixed;
	bottom: 1.8rem;
	right: 0.3rem;
}