@font-face {
  font-family: 'iconfont';  /* project id 573160 */
  src: url('https://at.alicdn.com/t/font_573160_u8mmcajnok1emi.eot');
  src: url('https://at.alicdn.com/t/font_573160_u8mmcajnok1emi.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_573160_u8mmcajnok1emi.woff') format('woff'),
  url('https://at.alicdn.com/t/font_573160_u8mmcajnok1emi.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_573160_u8mmcajnok1emi.svg#iconfont') format('svg');
}
.s_icon{
	position: absolute;
	top: 0.52rem;
	right: 0.29rem;
}
.s_icon .s_icon1{
	margin-left: 0.35rem;
}
.s_touxiangk{
	width: 100%;
	height: 1.23rem;
	position: absolute;
	left: 0;
	top: 1.09rem;
}
.circle{
	width: 1.2rem;
	height: 1.2rem;
	border-radius: 50%;
	background-color: pink;
	margin-left: 0.4rem;
	overflow: hidden;
	float: left;
}
.circle img{
	width: 1.2rem;
	height: 1.2rem;
}
.username{
	height: 100%;
	padding-left: 1.8rem;
	padding-top: 0.24rem;
}
.username1{
	color: #fff;
	font-size: 0.26rem;
}
.username2{
	margin-top: 0.12rem;
}
.zhanghu{
	float: right;
	margin-top: 0.4rem;
	font-size: 0.26rem;
	color: #fff;
}
.zhanghu1{
	margin-right: 0.12rem;
}
.gouwuc{
	width: 100%;
	height: 1.2rem;
	float: left;
	text-align: center;
	line-height: 1.2rem;
	font-size: 0.34rem;
	color: #333;
	background-color: #fff;
}
.s_xiantiao{
	width: 100%;
	height: 0.28rem;
	border-top: 0.02rem solid #dedede;
	background-color: #efefef;
	border-bottom: 0.02rem solid #dedede;
	float: left;
}
.dingdan1{
	height: 0.99rem;
	width: 100%;
	float: left;
	padding: 0.35rem 0.6rem 0.39rem 0.29rem;
	border-bottom: 0.02rem solid #eee;
	background-color: #fff;
}
.dingdan11{
	font-size: 0.26rem;
	color: #333;
	float: left;
}
.dingdan12{
	font-size: 0.26rem;
	color: #999;
	float: right;
}
.dingdan2{
	width: 100%;
	height: 1.56rem;
	float: left;
	border-bottom: 0.02rem solid #eee;
	position: relative;
}
.bottoms1 .dingdan21{
	position: absolute;
	top: 0.29rem;
	left: 0.6rem;
}
.bottoms1 .dingdan22{
	position: absolute;
	bottom: 0.27rem;
	left: 0;
	text-align: center;
}
.liet{
	float: left;
	width: 100%;
	display: flex;
    overflow-x: scroll;
    flex-wrap: wrap;
}
.liet_b{
	float: left;
	width: 100%;
}
.lie1{
	width: 25%;
	height: 2.03rem;
	border-right: 0.02rem solid #ededed;
	border-bottom: 0.01rem solid #ededed;
	float: left;
	position: relative;
	background-color: #fff;
}
.lie{
	float: left;
}
.lie1_icon{
	position: absolute;
	top: 0.57rem;	
	left: 0.67rem;	
	font-size: 0.36rem;
}
.lie1 .lie1_wenzi{
	position: absolute;
	left: 0rem;
	bottom: 0.4rem;
}
.xk{
	width: 100%;	
	height: 0.66rem;
	float: left;
	padding: 0.21rem 0;
}
.xk_circle{
	width: 0.23rem;	
	height: 0.23rem;	
	border-radius: 50%;
	background-color: #b2b2b2;
	margin-left: 3.45rem;
	float: left;
	margin-bottom: 0.21rem;
}
.xk_circle1{
	background-color: #e0e0e0;
	margin-left: 0.14rem;
}
.zhanghu .zhanghu_icon{
	font-size: 0.24rem;
	margin-right: 0.2rem;
}
.gouwuc .gouwuc_icon{
	color: #ffa201;
}
.bottoms1 .dingdan2_icon{
	color: #999;
	font-size: 0.46rem;
}
.lie1 .lie1_icon1{
	color:#039082;
}
.lie1 .lie1_icon2{
	color:#f90;
}
.lie1 .lie1_icon3{
	color:#f1624f;
}
.lie1 .lie1_icon4{
	color:#33c8b0;
}
.lie1 .lie1_icon5{
	color:#ef802e;
}
.lie1 .lie1_icon6{
	color:#ffa201;
}
.lie1 .lie1_icon7{
	color:#ef802e;
}
.lie1 .lie1_icon8{
	color:#f1624f;
}
.lie1 .lie1_icon9{
	color:#fc4552;
}
.lie1 .lie1_icon10{
	color:#ecc438;
}
.lie1 .lie1_icon11{
	color:#f1624f;
}
.lie1 .lie1_icon12{
	color:#f1624f;
}
.bottoms1 .bottoms1_wz2{
	color: #666;
}
.dingdan2 .bottoms12{
	width: 20%;
	background-color: #fff;
}
.zhanweiw{
	width: 100%;
	height: 1.5rem;
	float: left;
}
