.banner_wenzia{
	background-color: #fff;
	padding-top: 0.22rem;
	height: 2.03rem;
}
.h_img{
	width: 1.5rem;
	height: 1.49rem;
	float: left;
	margin-left: 0.23rem;
}
.h_wenzi{
	padding-left: 1.9rem;
	font-size: 0.36rem;
	color: #333;
}
.h_wenzi1{
	width: 1.9rem;
	height: 0.4rem;
	background-color: #fbe6d8;
	border: 0.01rem dashed #f9d2b9;
	padding: 0 0.2rem;
	color: #f26122;
	font-size: 0.24rem;
	margin-top: 0.14rem;
}
.s_tiao{
	width: 100%;
	height: 0.2rem;
	background-color: #efefef;
	float: left;
}
.s_neirong{
	height: 2.03rem;
}
.s_imgs{
	float: left;
	margin: auto 0;
	width: 0.3rem;
	height: 0.31rem;
	margin-right: 0.22rem;
}
.sj1_sp1{
	float: right;
	font-size: 0.26rem;
}
.s1_icon{
	float: right;
	color: #333;
	line-height: 0.51rem;
}
.sj1{
	height: 0.99rem;
    width: 100%;
    float: left;
    border-bottom: 0.02rem solid #eee;
	padding: 0.25rem 0.23rem;
	background-color: #fff;
}
.sj2{
	border-bottom: 0;
}
.gsjj_1{
	width: 100%;
	height: 2.66rem;
	background-color: #fff;
	float: left;
}
.sj2 i{
	color: #f26122;
}
.gsjj_1_img img{
	width: 1.48rem;
	height: 1.48rem;
	margin-left: 0.32rem;
	float: left;
}
.gsjj_1_img{
	float: left;
}
.gsjj_1_img .gsjj_1_imgs{
	margin-left: 0.32rem;
}
.gsjj1_name{
	float: left;
	padding: 0 0.32rem;
	margin-top: 0.16rem;
	color: #333;
	font-size: 0.26rem;
}
.gsjj1_name p{
	width: 1.8rem;
	float: left;
}
.gsjj1_name .lp{
	width: 1.4rem;
}
.gsjj1_name1 p{
	color: #9f9f9f;
}
.gsjj1_name1{
	margin-top: 0.12rem;
}
.wenti{
	height: 1.02rem;
	width: 100%;
	background-color: #fff;
	padding: 0.29rem 0.23rem;
	float: left;
	line-height: 0.42rem;
	color: #333;
}
.zxfw_bottom1_mores{
	float: left;
	margin-top: 0;
}
.wenti1{
	margin-left: 1.07rem;
}
.s1_icons{
	margin-top: -0.40rem;
}
.s_choice1{
	width: 20%;
	float: left;
	background-color: #fff;
	border-right: 0.02rem solid #e5e5e5;
	text-align: center;
	background-color: #fff;
}
.s_choice2{
	margin-right: 0;
}
.choice_icon{
	color: #333;
	display: block;
}
.choicee{
	width: 100%;
	border-top: 0.02rem solid #e5e5e5;
	border-bottom: 0.02rem solid #e5e5e5;
	float: left;
	padding: 0.22rem 0 0.21rem 0;
	background-color: #fff;
}
.zxal_top{
	width: 100%;
	height: 1.25rem;
	float: left;
	background-color: #fff;
	border-top: 0.02rem solid #e8e8e8;
	text-align: center;
	line-height: 1.25rem;
	font-weight: bold;
	font-size: 0.32rem;
	position: relative;
}
.choicee_sp{
	background-color: #fff;
}
.choice_wez{
	width: 100%;
	float: left;
	text-align: center;
	padding-top: 0.18rem;
}
.choicee_sp{
	width: 20%;
	float: left;
}
.zhuangxiutu1{
	width: 7.03rem;
	height: 4.42rem;
	margin: 0 auto 0.3rem;
}
.zhuangxiutu{
	width: 100%;
	float: left;
	margin: 0 auto 0;
	background-color: #fff;
}
.zhuangxiutu2{
	width: 0.86rem;
	height: 0.86rem;
	position: absolute;
	bottom: -3.6rem;
	left: 0.35rem;
	z-index: 1;
}
.zxal_wenzi{
	margin-left: 1.42rem;
	font-size: 0.3rem;
	color: #333;
}
.zxal_yuanjiao{
	width: 2.66rem;
	height: 0.58rem;
	border: 0.02rem solid #e0e0e0;
	border-radius: 0.58rem;
	line-height: 0.58rem;
	margin: 0.7rem auto 0.28rem;
	padding: 0 0.32rem;
	position: relative;
}
.zxal_icon{
	font-family: 'iconfont';
	font-size: 0.26rem;
	line-height: 0.58rem;
	position: absolute;
	right: 0.2rem;
	top: 0.04rem;
}
.zxal_mid{
	width: 100%;
	padding-left: 0.23rem;
	padding-right: 0.23rem;
	float: left;
	background-color: #fff;
	padding-top: 0.43rem;
	padding-bottom: 0.37rem;
	border-bottom: 0.03rem solid #e8e8e8;
	position: relative;
}
.zxal_mid_wenzi{
	font-size: 0.3rem;
	color: #333;
}
.zxal_mid_t{
	float: left;
	width: 100%;
}
.zxal_mid_icon{
	color: #ffb503;
	font-size: 0.3rem;
}
.zxal_mid_r{
	width: 1.2rem;
	height: 0.35rem;
	border-radius: 10%;
	background-color: #8480fa;
	float: right;
	margin-top: 0.1rem;
	text-align: center;
	line-height: 0.35rem;
	font-size: 0.18rem;
}
.zxal_mid_t .zxal_mid_t2{
	font-size: 0.26rem;
	color: #999；
}
.zxal_mid_t23{
	color: #a1a1a1;
	margin-top: 0.26rem;
}
.zxal_mid_icon{
	color: #ffa303;
}
.img_th img{
	width: 3.94rem;
	height: 0.29rem;
	margin-top: 0.29rem;
}
.zxal_mid_tu{
	width: 1.88rem;
	height: 1.58rem;
	position: absolute;
	bottom: 0.38rem;
	right: 0.23rem;
}
.ggzb{
	background-color: #fff;
	width: 100%;
	float: left;
}
.zxal_yuanjiao1{
	margin-top: 0.6rem;
}
.ggzb_yuanjiao{
	color: #333;
	height: 0.58rem;
	border: 0.02rem solid #e0e0e0;
	border-radius: 0.58rem;
	line-height: 0.58rem;
	padding: 0 0.32rem 0 0.28rem;
	float: left;
	margin-left: 2.4rem;
	margin-bottom: 0.27rem;
	margin-top: 0.14rem;
	position: relative;
}
.zxal_mid2{
	border-bottom: 0;
}
.ggzb_icon{
	float: right;
	position: absolute;
	bottom: 0.38rem;
	right: 0.13rem;
}
.ggzb_wz{
	margin-right: 0.08rem;
}

.zhuangxiuanli{
	float: left;
}
.zxal_yuanjiao22{
	width: 3.24rem;
}
.yzdp{
	width: 100%;
}
.yzdp_wenz{
	font-size: 0.3rem;
}
.zhanwei23{
	width: 100%;
	height: 1rem;
	float: left;
}